h1 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

h2 {
  position: relative;
  padding: 0.6em;
  background: #7db4e6;
  color: white !important;
}

h2::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

h3 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  font-size: 2em !important;
  margin-top: 1.4em;
  margin-bottom: 1.0em;
}

h4 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h4:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

h5 {
  border-bottom: solid 3px black;
}
